{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ ticket['title'] }}" {% endblock %}</h1>

<form method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Ticket title"
               class="form-control"
               value="{{ request.form['title'] or ticket['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="content">Comment</label>
        <input type="text" name="comment" placeholder="Ticket comment"
                class="form-control"
                value="{{ request.form['comment'] or ticket['comment'] }}">
        </input>
    </div>


    <div class="form-group">
        <label for="status">Status</label>
        <div class="dropdown">
            <select name="status" class="form-control">
                <option value="open">Open</option>
                <option value="in_progress">In Progress</option>
                <option value="closed">Closed</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>
<form action="{{ url_for('delete', id=ticket['id']) }}" method="ticket">
    <input type="submit" value="Delete ticket"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this ticket?')">
</form>
{% endblock %}