{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to the amazing ticketing system {% endblock %}</h1>
    {% for ticket in tickets %}
        <a href="{{ url_for('ticket', ticket_id=ticket['id']) }}">
            <h2>{{ ticket['title'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ ticket['created'] }}</span>
        <span class="badge badge-secondary">status: {{ ticket['tag_status']  }}</span>
        <a href="{{ url_for('edit', id=ticket['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        <hr>
    {% endfor %}
{% endblock %}